@import './global.css';

.app {
	margin-top: 100px;
	text-align: center;
}

/* .start {
	display: block;
	font-size: 20px;
	color: #ad4c1d;
	background-color: #ffe2c0;
	width: 110px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.connectButton {
	display: block;
} */