@import './global.css';

.app {
	margin-top: 50px;
	text-align: center;
}

.header {
	font-size: 50px;
	color: #ad4c1d;
}

.header img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 30px;
}

.counter {
	margin-top: 30px;
	font-size: 36px;
}

button {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
	font-size: 20px;
	width: 100px;
	height: 40px;
}

.connection {
	margin-top: 20px;
	font-size: 18px;
	color: #73FA79;
}

/* .start {
	display: block;
	font-size: 20px;
	color: #ad4c1d;
	background-color: #ffe2c0;
	width: 110px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.connectButton {
	display: block;
} */